<% provide(:title,'Help') %>
<!-- provide  函数的作用是将 后面的字符串 赋给 符号titile  只是这个作用而已 -->
  <h1>Help</h1>
  <p>
    Get help on the Ruby on Rails Tutorial at the
    <a href="http://www.railstutorial.org/#help" title="">Ruby on rails tutorial</a>
    TO get help on this blog ,see the 
    <a href="http://www.railstutorial.org/book"><em></a>Ruby on Rails Tutorial</em> book</a>.
  </p>

<!-- <h1>Help</h1>
<p>
Get help on the Ruby on Rails Tutorial at the
<a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
To get help on this sample app, see the
<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
book</a>.
</p> -->