  <h1>Blog</h1>
  <p>
    This the home page the 
    <a href="http://www.railstutorial.org" title="">Ruby on rails tutorial</a>
    blog.
  </p>

<!-- <h1>Welcome To My Blog</h1>
<p>
  This is the home page for the 
  <a href="http://www.railstutorial.org/">Ruby On Rails Tutorial</a>
  blog application.
</p> -->